@media screen and (min-width: 700px) {
  .heroDesktop {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
  }
  .heroImage {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  .heroHeading {
    font-size: 1.5rem;
  }
  /* .reviewText {
    margin-bottom: 5rem;
  } */
  .textBgColor {
    padding: 10px;
    background: #f0911a;
    object-fit: cover;
  }
  .TextPhoneNumber {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    /* text-decoration-line: underline; */
  }
  .howItWorksContainer {
    text-align: center;
  }
  .destopHowItWorks {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .heroImage {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  .textBgColor {
    padding: 10px;
    background: #f0911a;
    object-fit: cover;
  }

  .heroHeading {
    font-size: 1.5rem;
  }

  .TextPhoneNumber {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    /* text-decoration-line: underline; */
  }
  .howItWorksContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
