.reviewContainer{
/* display: flex; */
text-align: center;
}
.countryButtons{
    display: flex;
    padding: 1rem;
    margin: 1rem;
    justify-content: space-between;
    width: 7rem;
}
.buttonSelected{
    /* color:white; */
    border: none;
    padding: 1rem;
    width: 7rem;
    background-color: orange;
}