@media screen and (min-width: 700px) {
  .reviewContainer {
    text-align: center;
  }
  .heading {
    font-size: 1.5rem;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-evenly;
  }
  .countryButtons {
    margin: 0.9rem;
    width: 10rem;
    padding: 0.7rem;
    background-color: gray;
    color: white;
    border: none;
  }
  .buttonSelected {
    width: 10rem;
    padding: 0.7rem;
    border: none;
    background-color: orange;
  }

  .reviewSubContainer {
    background-color: lightgrey;
    border-radius: 0.5rem;
    padding: 20px;
    margin: 1rem 15rem 1rem 15rem;
  }

  .reviewContent {
    text-align: right;
    text-decoration: underline;
    margin: 1rem 15rem 1rem 15rem;
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .reviewContainer {
    text-align: center;
  }
  .heading {
    font-size: 1.5rem;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-evenly;
  }
  .countryButtons {
    margin: 0.9rem;
    width: 100%;
    padding: 0.7rem;
    background-color: gray;
    color: white;
    border: none;
  }

  .buttonSelected {
    margin: 0.9rem;
    width: 100%;
    padding: 0.7rem;
    border: none;
    background-color: orange;
  }

  .reviewSubContainer {
    background-color: lightgrey;
    border-radius: 0.5rem;
    padding: 10px;
  }

  .reviewContent {
    text-align: right;
    text-decoration: underline;
    margin: 10px;
    padding: 10px;
  }
}
