.reviewContainer{
/* display: flex; */
text-align: center;
}
.countryButtons{
   
    margin: 1rem;
    justify-content: space-between;
    width: 7rem;
    padding: 0.7rem;
    background-color: gray;
    color: white;
    border: none;
}
.buttonContainer{
    display: flex;
    /* padding: 1rem; */
}
.buttonSelected{
    /* color:white; */
    border: none;
    padding: 0.7rem;
    width: 7rem;
    background-color: orange;
}