@media screen and (max-width: 480px){
  
    div.wrapper {
      display: grid;
      grid-template-rows: 1fr ;
      /* margin: 1rem; */
    }
    
    .hero-heading{
      font-size: 0.8rem;
      margin: 0;
    
    }
    .headerontainer{
     display: flex;
     flex-direction: row;
    }
    .headerSub{
     flex:1;
    }
    .Text_phoneNumber{
    font-size: 1rem;
    }
    
    .phoneNumber{
      color: white;
    }
    
  }