@media screen and (min-width: 700px) {
  .fullPageMenuList {
    display: none;
  }

  .fullPageMenu {
    display: none;
  }

  .navContainer {
    display: none;
  }
  .headerSub {
    flex: 1;
  }
  .fullPageDesktopMenuList {
    display: flex;
    text-align: center;
    text-decoration: none;
  }

  .headerDesktop {
    display: flex;
  }

  .fullPageDesktopMenuList li {
    list-style-type: none;
    justify-content: flex-end;
    text-align: center;
    padding: 1rem;
  }

  .fullPageDesktopMenuList a {
    font-size: 24px;
    text-decoration: none;
  }
}

@media screen and (max-width: 480px) {
  div.wrapper {
    display: grid;
    grid-template-rows: 1fr;
    /* margin: 1rem; */
  }

  /* .headerDesktop{
      display: none;
    } */
  .headerContainer {
    display: flex;
    flex-direction: row;
  }

  .headerSub {
    flex: 1;
  }

  .TextPhoneNumber {
    font-size: 1rem;
  }

  .phoneNumber {
    color: white;
  }

  .menuList {
    height: 100%;
    width: 100%;
  }

  .btnReverse {
    display: flex;
    justify-content: flex-end;
  }

  .fullPageDesktopMenuList {
    display: none;
  }

  .fullPageMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f0911a;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    z-index: 1000;
  }

  .fullPageMenuList {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

  .fullPageMenuList li {
    margin: 20px 0;
  }

  .fullPageMenuList a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
}
