@media screen and (max-width: 480px){
  
    div.wrapper {
      display: grid;
      grid-template-rows: 1fr ;
    }
    
    /* section.hero {
      display: flex;
      flex-direction: column;
    }
    
    .first-image{
      width: 100%;
      height: auto;
    }
    .text_bgColor{
      padding: 5px;
      background: #F0911A;
    }
    .hero-heading{
      font-size: 1.8rem;
      margin: 0;
    
    }
    
    .Text_phoneNumber{
    font-size: 1rem;
    }
    
    .phoneNumber{
      color: white;
    }
    
    .how-it-works-container {
      display:flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding:10px;
    } */
    
    .footerContainer {
      display:flex;
      flex-direction: row;
    }
    
    .footerColumn {
     flex: 1;
      padding: 10px;
    }
    
    }